.container {
  position: relative;
  margin-bottom: 80px;
  margin-top: 50px;
}

.container section {
  margin: 2em 7em;

  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.home {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.home p {
  margin-bottom: 12px;
}

.home p:nth-child(1) {
  font-size: 22px;
}

.home p:nth-child(2) {
  font-size: 62px;
}

.home input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 150px;

  margin-bottom: 10px;
  margin-right: 10px;
  outline: none;
}

.home button {
  padding: 10px;
  background-color: #ffcb47;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

@media (min-width: 400px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1200px) {
}
