.container {
  position: relative;
  margin-bottom: 80px;
  margin-top: 50px;
}

.container section {
  margin: 2em 7em;

  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.home {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.home p {
  margin-bottom: 12px;
}

.home p:nth-child(1) {
  font-size: 22px;
}

.home p:nth-child(2) {
  font-size: 62px;
}

@media (min-width: 400px) and (max-width: 767px) {
 
}

@media (min-width: 768px) and (max-width: 1200px) {
}
