.card {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 15px;
  padding: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f6f6f6;

  width: 400px; /* Largura desejada do card */
  height: 200px; /* Altura desejada do card */
}

.imgContainer {
  flex: 0 0 auto;
  margin-right: 16px;
}

.imgContainer img {
  width: 200px;
  height: 200px;
}

.conteudoContainer {
  flex: 1 1 auto;
}

.conteudoContainer h2 {
  font-size: 32px;
}

.conteudoContainer p {
  font-size: 16px;
}

.msgIcone {
  font-size: 100px;
}

.msgIcone span {
  margin-left: 4px;
  font-size: 13px;
  color: #ffcb47;

  font-size: 16px;
}


.link {
  text-decoration: none;

  display: flex;
  align-items: center;
}
